{% extends "base.html" %}

{% block main_content %}
    <div class="span10">
        {% for stock in stocks %}
            <div class="stock_listing">
                <h2>
                    <a href="{% url stock stock.name %}">{{ stock.name }}</a>
                    {% if stock.advice == 'Sell' %}
                        <span class="pull-right" style="margin-right: 20px;">
                            <small>{{ stock.score|floatformat:3 }}</small>
                            <button class="btn danger">Sell</button>
                        </span>
                    {% endif %}
                    {% if stock.advice == 'Buy' %}
                        <span class="pull-right" style="margin-right: 20px;">
                            <small>{{ stock.score|floatformat:3 }}</small>
                            <button class="btn success">Buy</button>
                        </span>
                    {% endif %}
                </h2>
                <h3>Keywords</h3>
                {{ stocks.keywords }}
            </div>
        {% endfor %}
    </div>
{% endblock %}