{% extends "bootstrap.html" %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/dygraph-combined.js"></script>    
{% endblock %}
    
{% block main_content %}
    <div class="span10">
        <h1><a href="{% url stock stock.name %}">{{ stock.name }}</a></h1>
        
        <div class="stock_graph" id="envelope_graph" style="width:550px; height:320px;"></div>
        <script type="text/javascript">
            g = new Dygraph(
          
                // containing div
                document.getElementById("envelope_graph"),
            
                // CSV or path to a CSV file.
                '{{ stock.name }}/envelope.csv',
                
                {
                customBars: true,
                title: 'Stock Price of {{ stock.name }} and positive and negative sentiment across social media',
                ylabel: 'Stock Price',
                colors: ['rgb(0,255,0)']
                }
            
            );
        </script>
        
        <div class="stock_graph" id="chatter_graph" style="width:550px; height:320px;"></div>
        <script type="text/javascript">
            h = new Dygraph(
          
                // containing div
                document.getElementById("chatter_graph"),
            
                // CSV or path to a CSV file.
                '{{ stock.name }}/chatter.csv',
                
                {
                title: 'Total volume of positive and negative sentiment across social media',
                ylabel: 'Updates/Tweets/Mentions',
                colors: ['rgb(0,0,255)']
                }
            
            );
        </script>
        
        <div class="stock_graph" id="positive_sentiment_graph" style="width:550px; height:320px;"></div>
        <script type="text/javascript">
            i = new Dygraph(
          
                // containing div
                document.getElementById("positive_sentiment_graph"),
            
                // CSV or path to a CSV file.
                '{{ stock.name }}/positive_fraction.csv',
                
                {
                title: 'Fraction social media of social media sentiment that is positive',
                ylabel: 'Positive sentiment fraction',
                colors: ['rgb(255,0,0)']
                }
            
            );
        </script>
        
        <div class="stock_graph">
            {% if stock.advice == 'sell' %}
                <img src="{{ STATIC_URL }}images/graphics/{{ stock.name }}.png" width="580" />
            {% endif %}
            {% if stock.advice == 'buy' %}
                <img src="{{ STATIC_URL }}images/graphics/{{ stock.name }}.png" width="580" />
            {% endif %}
    </div>

{% endblock %}