{% extends "base.html" %}

{% block main_content %}
    <div class="span10">
        <h1>About</h1>
        <p>
            Instatrade monitors social media sentiment and uses the data to predict changes in financial markets.
        </p>
        Instatrade was created in a weekend at <a href="http://www.seedcamp.com/2011/09/seedhack-v1-0-readme-txt.html">Seedhack 2011</a> by:
        <p>
            <ul>
                <li>Joris Van den Broeck – <a href="http://twitter.com/#!/jvandenbroeck">@jvandenbroeck</a></li>
                <li>Trung Huynh – <a href="http://twitter.com/#!/trunghlt">@trunghlt</a></li>
                <li>Umberto Prandi – <a href="http://twitter.com/#!/UmbertoPrandi">@UmbertoPrandi</a></li>
                <li>Deepak Jhamb – <a href="http://twitter.com/#!/deepakjhamb">@deepakjhamb</a></li>
                <li>Samir Bhana – <a href="http://twitter.com/#!/samba2804">@samba2804</a></li>
                <li>Robert Kyle – <a href="http://twitter.com/#!/robtheforager">@robtheforager</a></li>
            </ul>
        </p>
        <p>
            <h2>Our Pitch</h2>
            Our unique value proposition is a buy/sell recomendation based on a proprietary algorithm
            that allows traders to seamlessy integrate classic technical analysis with sentiment analysis
            derived from social media.
        </p>
    </div>
{% endblock %}